* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

h2 {
  font-size: 37px;
  margin-left: 2%;
  margin-top: 15px;
}

button {
  font-size: 18px;
}

#results {
  display: flex;

  /* justify-content: center; */
  flex-direction: column;
  border: 1px solid #000;
  margin-left: 2%;
  width: 30%;
}

.expand-cell {
  padding: 8px;
  font-size: 16px;
}

.input {
  position: fixed;
  top: 34%;
  left: 60%;
  transform: translate(-50%, -50%);
}

input[type=text] {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type=submit] {
  width: 40%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 60%;
}

table tbody tr:nth-child(2n+1) {
  background: #ccc;
}
